# Betriebssystem
.DS_Store
Thumbs.db
desktop.ini

# Virtuelle Umgebungen
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.eggs/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Audio-Dateien
*.wav
*.mp3
# audio_files/

# Ergebnis-Dateien
*.csv
# results/

# Modelle
*.h5
*.pkl
# models/

# IDE-spezifisch
.vscode/
.idea/
